{#任务详情页面#}
{% extends 'task/task_base.html' %}

{% block content %}
<div class="mian_b">
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="mian_b_bg_xz">
<tr>
<td width="5%" class="mian_b_bg_lm">&nbsp;</td>
<td colspan="3" class="mian_b_bg_lm">任务详情</td>
</tr>

<form method="post" action="{% url 'task:task_detail' task.id %}">
<tr>
<td>&nbsp;</td>
<td width="10%" valign="top">任务标题：</td>
<td width="60%">
 {{ task.title }} </td>
<td width="30%">&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td valign="top">紧急程度：</td>
<td>{% if task.urgent == 'ordinary' %}普通{% elif task.urgent == 'worry' %}紧急
{% elif task.urgent == 'must' %}非常紧接{% endif %}
</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td valign="top">执行人员：</td>
<td>
{{ task.task_man.nick_name }}
</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td valign="top">任务处理时间：</td>
<td>
{{ task.time }}
</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td valign="top">创建时间：</td>
<td>
{{ task.add_time }}
</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td valign="top">任务内容：</td>
<td>
    {% autoescape off %}
{{ task.content }}
    {% endautoescape %}

</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td valign="top">任务状态：(点击接受后不可再更改,请谨慎提交)</td>
<td>
    {% if task.state == 'done' %}
    <select name="state">
{#    <option value="accept">已接受,正在进行中...</option>#}
    <option value="done">已完成</option>
{#    <option value="not">已下发</option>#}
    </select>
    {% else %}
    <select name="state">
    <option value="accept">已接受,正在进行中...</option>
{#    <option value="done">已完成</option>#}
{#    <option value="not">已下发</option>#}
    </select>
    {% endif %}
</td>
<td>&nbsp;</td>
</tr>
{#<tr>#}
{#<td>&nbsp;</td>#}
{#<td valign="top">完成情况：</td>#}
{#<td>#}
{#<img src="../images/123.png">#}
{#<td>&nbsp;</td>#}
{#</td></tr>#}
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>
<div align="center">
{#    <a href="TaskShow.html"><img src="..\images\bnt_03.gif" style="margin-right:10px;" width="80" height="22"></a>#}
    <input type="submit" value="提交">
    <img src="/static/images/bnt_05.gif" alt="" width="80" height="22" onclick="javascript:window.history.go(-1);"></div></td>
<td>&nbsp;</td>
</tr>
{% csrf_token %}
</form>
</table>
</div>
{% endblock content %}