{#显示员工列表#}
{% extends 'users/personnel/personnel_base.html' %}

{% block headjs %}
<script language="javascript" type="text/javascript">
function click1(num){

if(document.getElementById(num).style.display=="block")
{
 document.getElementById(num).style.display="none";
}
else
{
 document.getElementById(num).style.display="block";

}

}
    </script>
{% endblock headjs %}

{% block content %}
<div class="mian_b">

{#<div class="mian_b1">#}
{#<a href="{% url 'users:user_addstaff' %}" title="添加">#}
{#<p class="mian_b1_a1">#}
{#</p>#}
{#</a><a href="#" title="删除">#}
{#<p class="mian_b1_a2">#}
{#</p>#}
{#</a>#}
{#<p class="mian_b1_sousuo">#}
{#<input name="" type="text"></p>#}
{#<a href="#" title="搜索">#}
{#<p class="mian_b1_a3">#}
{#</p>#}
{#</a>#}
{#<p class="mian_b1_a9">#}
{#<a href="#" onclick="click1('search')">高级搜索>></a></p>#}
{#<a href="#" title="最后">#}
{#<p class="mian_b1_a4">#}
{#</p>#}
{#</a><a href="#" title="下一页">#}
{#<p class="mian_b1_a5">#}
{#</p>#}
{#</a>#}
{#<p class="mian_b1_list">#}
{#1 2 3 4……</p>#}
{#<a href="#" title="上一页">#}
{#<p class="mian_b1_a6">#}
{#</p>#}
{#</a><a href="#" title="最前">#}
{#<p class="mian_b1_a7">#}
{#</p>#}
{#</a>#}
{#</div>#}

<table width="100%" border="0" cellpadding="0" cellspacing="0" class="mian_b_bg">

{#    搜索和高级搜索#}
{#<tr id="search" style="display: none;">#}
{#<td colspan="8" style="height: 35px; background-color: #DBDBDB;margin-left:20px">#}
{##}
{#<select>#}
{#<option>性别#}
{#<option>男#}
{#<option>女#}
{#</select>&nbsp;<select><option>所属部门#}
{#<option>软装部#}
{#<option>人事部#}
{#</select>&nbsp;<select><option>状态#}
{#<option>在职#}
{#<option>离职#}
{#</select>&nbsp;#}
{#<input name="" type="text" value="工号、姓名、职位、手机" class="input_03">&nbsp;<input name="" type="text" value="起始日期" class="input_03">&nbsp;-&nbsp;<input name="" type="text" value="结束日期" class="input_03">#}
{#</td>#}
{#<td colspan="3" style="height: 35px; background-color: #DBDBDB;">#}
{#<a href="#" title="高级搜索">#}
{#<p class="mian_b1_a8" onclick="click('search');">#}
{#</p>#}
{#</a>#}
{#</td>#}
{#</tr>#}

{#    表格中的第一行内容#}
<tr>
<td width="3%" class="mian_b_bg_lm">
<input name="" type="checkbox" value="">&nbsp;
</td>

<td width="10%" class="mian_b_bg_lm">
<span></span>工号
</td>
<td width="10%" class="mian_b_bg_lm">
<span></span>员工姓名
</td>
<td width="5%" class="mian_b_bg_lm">
<span></span>性别
</td>
<td width="10%" class="mian_b_bg_lm">
<span></span>员工职位
</td>
<td width="10%" class="mian_b_bg_lm">
<span></span>手机
</td>
<td width="10%" class="mian_b_bg_lm">
<span></span>所属部门
</td>
<td width="10%" class="mian_b_bg_lm">
<span></span>入职时间
</td>
<td width="10%" class="mian_b_bg_lm">
<span></span>状态
</td>
<td colspan="2" class="mian_b_bg_lm">
<span></span>操作
</td>
</tr>

{#    表格中显示员工信息的内容#}
    {% for worker in workers %}
<tr>
<td>
<input name="" type="checkbox" value="">&nbsp;
</td>
<td>
1001
</td>
<td>
{{ worker.user.nick_name }}
</td>
<td>
{% if worker.user.gender == 'male' %}男{% else %}女{% endif %}
</td>
<td>
{{ worker.position }}
</td>
<td>
{{ worker.user.mobile }}
</td>
<td>
{{ worker.division }}
</td>
<td>
{{ worker.entry_time }}
</td>
<td>
{% if worker.is_work == 'job' %}在职{% else %}离职{% endif %}
</td>
<td width="5%" class="mian_b_icon_01">
<a href="{% url 'users:user_editstaff' worker.id %}">编辑</a>
</td>
<td width="5%" class="mian_b_icon_02">
<a href="{% url 'users:user_staffdetail' worker.id %}">查看</a>
</td>
</tr>
    {% endfor %}

{#    最下端显示的重复内容#}
<tr>
<td width="3%" class="mian_b_bg_lm">&nbsp;

</td>
<td width="10%" class="mian_b_bg_lm">
<span></span>工号
</td>
<td width="5%" class="mian_b_bg_lm">
<span></span>员工名称
</td>
<td width="10%" class="mian_b_bg_lm">
<span></span>性别
</td>
<td width="10%" class="mian_b_bg_lm">
<span></span>员工职位
</td>
<td width="10%" class="mian_b_bg_lm">
<span></span>手机
</td>
<td width="10%" class="mian_b_bg_lm">
<span></span>所属部门
</td>
<td width="10%" class="mian_b_bg_lm">
<span></span>入职时间
</td>
<td width="10%" class="mian_b_bg_lm">
<span></span>状态
</td>
<td colspan="2" class="mian_b_bg_lm">
<span></span>操作
</td>
</tr>

</table>

</div>
{% endblock content %}