{#显示员工详情#}
{% extends 'users/personnel/personnel_base.html' %}

{% block content %}

<table width="100%" border="0" cellpadding="0" cellspacing="0" class="mian_b_bg_xz">
<tr>
<td width="5%" class="mian_b_bg_lm">&nbsp;

</td>
<td colspan="4" class="mian_b_bg_lm">
查看员工信息
</td>
</tr>
</table>
<table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#B1C4F3">
<tr style="background-color: White; height: 30px">
<td colspan="8">
基本信息
</td>
</tr>
<tr style="background-color: White; height: 30px">
<td style="width: 8%;" align="center">
姓名
</td>
<td style="width: 8%" align="center">
性别
</td>
<td style="width: 8%" align="center">
出生年月
</td>
<td style="width: 8%" align="center">
学历
</td>
<td style="width: 8%" align="center">
专业
</td>
<td style="width: 8%" align="center">
工作年限
</td>
<td style="width: 8%" align="center">
政治面貌
</td>
<td style="width: 8%" rowspan="5" align="center" valign="middle">
<img src="..\images\head_pic.png">
</td>
</tr>
<tr style="background-color: White; height: 30px">
<td style="text-align:center">
    {{ worker.user.nick_name }}
</td>
<td style="text-align:center">
{% if worker.user.gender == 'male' %}男{% else %}女{% endif %}
</td>
<td>
{#<input id="Text2" type="text" style="border: 0px; width: 100px">#}
    {{ worker.birthday }}
</td>
<td>
{#<input id="Text3" type="text" style="border: 0px; width: 100px">#}
    {% if worker.education == 'college' %}大专{% elif worker.education == 'undergraduate' %}本科
    {% elif worker.education == 'graduate' %}研究生{% elif worker.education == 'doctor' %}{% endif %}
</td>
<td>
{#<input id="Text4" type="text" style="border: 0px; width: 100px">#}
    {{ worker.major }}
</td>
<td>
{#<input id="Text5" type="text" style="border: 0px; width: 100px">#}
    {{ worker.work_year }}
</td>
<td>
{#<input id="Text6" type="text" style="border: 0px; width: 100px">#}
    {% if worker.policital_status == 'party' %}党员{% elif worker.policital_status == 'masses' %}群众
    {% elif worker.policital_status == 'other' %}其他{% endif %}
</td>
</tr>
<tr style="background-color: White; height: 30px">
<td>
籍贯
</td>
<td colspan="2">
手机
</td>
<td colspan="3">
邮箱
</td>
<td>
</td>
</tr>
<tr style="background-color: White; height: 30px">
<td>
{#<input id="Text11" type="text" style="border: 0px; width: 100px">#}
    {{ worker.native_place }}
</td>
<td colspan="2">
{#<input id="Text12" type="text" style="border: 0px; width: 200px">#}
    {{ worker.user.mobile }}
</td>
<td colspan="3">
{#<input id="Text13" type="text" style="border: 0px; width: 300px">#}
    {{ worker.user.email }}
</td>
<td>
</td>
</tr>
<tr style="background-color: White; height: 30px">
<td>
家庭住址：
</td>
<td colspan="4">
{#<input id="Text7" type="text" style="border: 0px; width: 300px">#}
    {{ worker.home_address }}
</td>
<td>
邮编：
</td>
<td>
<input id="Text8" type="text" style="border: 0px; width: 100px">
</td>
</tr>
<tr style="background-color: White; height: 30px">
<td>
户口所在地：
</td>
<td colspan="4">
{#<input id="Text9" type="text" style="border: 0px; width: 300px">#}
    {{ worker.permanent_address }}
</td>
<td>
邮编：
</td>
<td>
<input id="Text10" type="text" style="border: 0px; width: 100px">
</td>
<td align="center">&nbsp;
</td>
</tr>
<tr style="background-color: White; height: 30px">
<td colspan="8">

</td>
</tr>


<td colspan="8">

</td>

<tr style="background-color: White; height: 30px">
<td colspan="8">
职位信息
</td>
</tr>
<tr style="background-color: White; height: 30px">
<td align="center">
部门
</td>
<td align="center">
职位
</td>
<td align="center">
入职时间
</td>
<td align="center">
工作年限
</td>
<td align="center">
座机号码
</td>
<td align="center" colspan="2">
公司邮箱
</td>
<td align="center" valign="middle">
备注
</td>
</tr>
<tr style="background-color: White; height: 30px">
<td align="center">
{{ worker.division.name }}
</td>
<td align="center">&nbsp;
{{ worker.position }}
</td>
<td align="center">&nbsp;
{{ worker.entry_time }}
</td>
<td align="center">&nbsp;
{{ worker.entry_year }}
</td>
<td align="center">&nbsp;
{{ worker.telephone }}
</td>
<td align="center" colspan="2">&nbsp;
{{ worker.email }}
</td>
<td align="center">&nbsp;
{{ worker.remarks }}
</td>
</tr>
<tr style="background-color: White; height: 30px">
<td colspan="8">
薪资结构
</td>
</tr>
<tr style="background-color: White; height: 30px">
<td align="center" rowspan="2">
基本工资
</td>
<td align="center" rowspan="2">
&nbsp; &nbsp; 岗位工资
</td>
<td align="center" rowspan="2">
绩效奖金
</td>
<td align="center" rowspan="2">
四金
</td>
<td align="center" colspan="3">
福利补贴
</td>
<td align="center" rowspan="2">
合计
</td>
</tr>
<tr style="background-color: White; height: 30px">
<td align="center">
通讯费
</td>
<td align="center">
车费
</td>
<td align="center">
午餐费
</td>
</tr>
<tr style="background-color: White; height: 30px">
<td align="center">&nbsp;
{{ worker.base_pay }}
</td>
<td align="center">&nbsp;
{{ worker.post_wage }}
</td>
<td align="center">&nbsp;
{{ worker.bonus }}
</td>
<td align="center">&nbsp;
{{ worker.benefits }}
</td>
<td align="center">&nbsp;
{{ worker.mobile_fee }}
</td>
<td align="center">&nbsp;
{{ worker.car_fee }}
</td>
<td align="center">&nbsp;
    {{ worker.lunch_fee }}
</td>
<td align="center">&nbsp;

</td>
</tr>

<tr style="background-color: White; height: 30px">
<td colspan="8">

</td>
</tr>

<tr style="background-color: White; height: 30px">
<td style="text-align: left" colspan="7">
填表日期
</td>
<td align="center">
{{ worker.add_time }}
</td>
</tr>
<tr style="background-color: White; height: 30px">

</tr>
</table>
{% endblock content %}
